[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "==2.19.7"
pendulum = "==3.1.0"

[dev-packages]
black = "*"
mypy = "*"
pandas-stubs = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
