[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "==3.21.0"


[dev-packages]
black = "*"
mypy = "*"
pandas-stubs = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
ruff = "<=0.4.10"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
