[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
db-dtypes = "==1.2.0"
google-cloud-bigquery = "==3.21.0"
google-cloud-pubsub = "==2.19.7"
pandas = "==2.2.2"
pycontrails = "==0.53.1"
pyproj = "==3.6.1"
timezonefinder = "==6.5.2"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
