[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-firestore = "==2.15.0"
google-cloud-pubsub = "==2.19.7"
pandas = "==2.2.1"
requests = "==2.31.0"

[dev-packages]
mypy = "*"
pandas-stubs = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
ruff = "*"
types-requests = "*"

[requires]
python_version = "3.12"
